@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800;900&family=Barlow:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme inline {
  --color-brand-red: #e8002d;
  --color-brand-black: #000;
  --color-brand-dark: #1a1a1a;
  --color-brand-gray: #f5f5f5;
  --color-brand-mid: #767676;
  --color-brand-border: #e0e0e0;
  --color-brand-gold: #b8964a;
  --font-body: 'Barlow', sans-serif;
  --font-display: 'Barlow Condensed', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow', sans-serif;
  background: #fff;
  color: #000;
  overflow-x: hidden;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
  font-family: 'Barlow', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes mq {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: mq 22s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}